.portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.portfolio__item {
  background: var(--color-bg);
  padding: 1.2rem;
  border-radius: 0.1rem;
  border: 3px solid var(--color-black);
  transition: var(--transition);
}

.portfolio__item:hover {
  background: var(--color-primary-variant);
  background: transparent;
  transform: translate(-10px, -10px);
  box-shadow: 10px 10px black;
}

.portfolio__item-image {
  border-radius: 1.5rem;
  overflow: hidden;
}

.portfolio__item h3 {
  margin: 1.5rem 0rem 1.5rem;
}

.portfolio__item-cta a {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.btn-portfolio {
  width: max-content;
  display: inline-block;
  color: var(--color-black);
  padding: 0.5rem 1.5rem;
  border-radius: 0.1rem;
  cursor: pointer;
  border: 2px solid var(--color-black);
  transition: var(--transition);
}

.btn-portfolio:hover {
  background: var(--color-primary);
  color: var(--color-black);
}

/* ==================== Media Queries (Medium Devices) ========================= */

@media screen and (max-width: 1024px) {
  .portfolio__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

/* ==================== Media Queries (Small Devices) ========================= */

@media screen and (max-width: 600px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
