.header {
  max-height: 100vh;
  padding-top: 1rem;
  overflow: hidden;
  color: var(--color-white);
  background-color: var(--color-bg-variant);
  background-image: url(../../assets/bg-dot.png);
  /* background-position: 50%;  */
  background-repeat: no-repeat;
  box-shadow: 0 5px black;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

/* ============== CTA ================ */

.cta {
  margin-top: 2rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* ============== Header Social ================ */
.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 9rem;
}

.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

/* ============== ME ================ */
.me > img {
  /* background: linear-gradient(var(--color-primary), transparent); */
  width: 30rem;
  height: 30rem;
  position: relative;
  left: calc(50% - 15rem);
  margin-top: 1rem;
  /* border-radius: 12rem 12rem 0 0; */
  overflow: hidden;
  /* padding: 1rem 1rem; */
}

/* ============== Scrolll down ================ */
.scroll__down {
  position: absolute;
  bottom: 13rem;
  right: -2.3rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

/* ==================== Media Queries (Large Devices) PC ========================= */

@media screen and (min-width: 1920px) {
  .header {
    height: 100vh;
  }

  .header__container {
    height: 85%;
  }

  .me > img {
    width: 43rem;
    height: 57rem;
    left: calc(50% - 22rem);
  }

  /* .header__socials {
    bottom: 10rem;
  }
  .scroll__down {
    bottom: 14rem;
  } */
}

/* ==================== Media Queries (Medium Devices) ========================= */

@media screen and (max-width: 1024px) {
  .header {
    height: 67vh;
  }
}

/* ==================== Media Queries (Small Devices) ========================= */

@media screen and (max-width: 600px) {
  .header {
    height: 97vh;
  }

  .header__socials,
  .scroll__down {
    display: none;
  }

  .me > img {
    width: 20rem;
    height: 22rem;
    margin-left: 6rem;
  }
}
