@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  /* --color-bg: #1f1f38;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.8);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6); */

  --color-bg: #FFEFD6;
  --color-bg-variant: #181D31;
  --color-primary: #678983;
  --color-primary-variant: rgba(70, 84, 104);
  --color-white: #fff;
  --color-light: rgb(103, 103, 103);
  --color-black: rgb(0, 0, 0);

  --transition: all 300ms ease;

  --container-width-lg: 73%;
  --container-width-md: 89%;
  --container-width-sm: 90%;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--color-bg);
  color: var(--color-black);
  line-height: 1.7;

  /* background-image: url(../src/assets/bg-texture.png); */
}

/* ==================== General styles ========================= */

.container {
  max-width: var(--container-width-lg);
  margin: 0 auto;
  padding: 0 1rem;
  

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h1 {
  font-size: 2.8rem;

}

section {
  margin-top: 8rem;
  
}

section > h2,
section > h5 {
  text-align: center;
  color: var(--color-black);
  
}

section > h2 {
  color: var(--color-primary);
  margin-bottom: 2rem;
}

.text-light {
  color: var(--color-light);
}

a {
  color: var(--color-primary);
  transition: var(--transition);
}

a:hover {
  color: var(--color-black);
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.75rem 1.5rem;
  border-radius: 0.1rem;
  cursor: pointer;
  border: 2px solid var(--color-black);
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-primary);
  color: var(--color-black);
  border-color: transparent;
  box-shadow: 3px 4px black;
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-bg);
  border-color: black;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* ==================== Media Queries (Large Devices) ========================= */

@media screen and (max-width: 1920px) {
  .container {
    max-width: var(--container-width-lg);
  }

  section {
    margin-top: 6rem;
  }
}

/* ==================== Media Queries (Medium Devices) ========================= */

@media screen and (max-width: 1024px) {
  .container {
    max-width: var(--container-width-md);
  }

  section {
    margin-top: 6rem;
  }
}

/* ==================== Media Queries (Small Devices) ========================= */

@media screen and (max-width: 600px) {
  .container {
    max-width: var(--container-width-sm);
  }

  section > h2 {
    margin-bottom: 3rem;
  }
}
