nav {
  background: rgba(0, 0,0, 0.3);
  width: max-content;
  display: block;
  padding: 0,7rem 1.7rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  /* top: 92%; */
  transform: translateX(-50%);
  /* margin-bottom: 1rem; */
  margin-top: 60%;
  display: flex;
  gap: 0.8rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
}

nav a {
  background: transparent;
  padding: 0.8rem;
  border-radius: 50%;
  display: flex;
  color: var(--color-white);
  font-size: 1.1rem;
}

nav a:hover {
  background: rgba(0, 0,0, 0.3);
}

nav a.active {
  background: var(--color-bg-variant);
  color: var(--color-white);
}


/* ==================== Media Queries (Small Devices) ========================= */

@media screen and (max-width: 600px) {
  nav {
    margin-top: 90vh;
  }
}

@media screen and (max-width: 1024px) {
  nav {
    margin-top: 90vh;
  }
}